{% extends 'base.html' %}
{% block content %}
<!-- Первый HTML-сегмент -->
{% for j_key, j_value in jsonContents.items %} 
<div class="row g-0 text-center" id="{{ j_key }}">
    <div class="col-6 col-md-3">
        <h3>{{ j_key }}</h3>
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">
            {% if item.idcard == 'MiniCard' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">   
            {% if item.idcard == 'Card' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}