{% extends 'base.html' %}
{% block content %}
<!-- Первый HTML-сегмент -->
<div class="row g-0 text-center" id="Start">
    <div class="col-6 col-md-3">
        <h3>bb4g</h3>
        <div class="card">
        <div class="card-body">
            <h5>Введите Имя БС:</h5>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="Reg" placeholder="Введите регион"><br>
                <input type="text" name="NS" placeholder="Введите номерБС"><br>
                <input type="text" name="BB" placeholder="Введите BB"><br>
                <button type="submit">Отправить</button>
            </form>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <table>
                <tbody>
                    {% for listIndex in listEricsson4g.0 %} 
                    <tr>
                        <td>
                            Имя БС
                        </td>
                        <td>
                            {{ listIndex.26 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>HO 4-2</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Sector_name
                        </td>
                        <td>
                            GSMCell
                        </td>
                        <td>
                            CGI
                        </td>
                        <td>
                            BCCH
                        </td>
                        <td>
                            LAC
                        </td>
                        <td>
                            NCC
                        </td>
                        <td>
                            BCC
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.5 %} 
                    <tr>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                        <td>
                            {{ listIndex.12 }}
                        </td>
                        <td>
                            {{ listIndex.9 }}
                        </td>
                        <td>
                            {{ listIndex.11 }}
                        </td>
                        <td>
                            {{ listIndex.10 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="card">
        <div class="card-body">
            <h5>Hardware part</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Reg
                        </td>
                        <td>
                            BS name
                        </td>
                        <td>
                            Site Name
                        </td>
                        <td>
                            OSS
                        </td>
                        <td>
                            MCC
                        </td>
                        <td>
                            MNC
                        </td>
                        <td>
                            BB Unit
                        </td>
                        <td>
                            BB Port
                        </td>
                        <td>
                            OAM eNodeB
                        </td>
                        <td>
                            OAM Default Router
                        </td>
                        <td>
                            OAM VLAN
                        </td>
                        <td>
                            NTP Frequency Sync Server 1
                        </td>
                        <td>
                            NTP Frequency Sync Server 2
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.1 %}
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                        <td>
                            {{ listIndex.6 }}
                        </td>
                        <td>
                            {{ listIndex.7 }}
                        </td>
                        <td>
                            {{ listIndex.8 }}
                        </td>
                        <td>
                            {{ listIndex.9 }}
                        </td>
                        <td>
                            {{ listIndex.10 }}
                        </td>
                        <td>
                            {{ listIndex.11 }}
                        </td>
                        <td>
                            {{ listIndex.12 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Sector
                        </td>
                        <td>
                            RRU Connection Port
                        </td>
                        <td>
                            RRUS
                        </td>
                        <td>
                            TX/RX
                        </td>
                        <td>
                            RfPort<br>
                            (used antenna output)
                        </td>
                        <td>
                            RfSharing
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.2 %}
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>4G part</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Region N
                        </td>
                        <td>
                            eNB ID
                        </td>
                        <td>
                            S1 eNodeB
                        </td>
                        <td>
                            S1 Default Router
                        </td>
                        <td>
                            S1 VLAN
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.3 %}
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            LTE Frequency
                        </td>
                        <td>
                            LTE Bandwidth, MHz
                        </td>
                        <td>
                            TAC
                        </td>
                        <td>
                            Sector name
                        </td>
                        <td>
                            earfcnDL
                        </td>
                        <td>
                            PCI
                        </td>
                        <td>
                            Cell Range
                        </td>
                        <td>
                            RACH Root Sequence
                        </td>
                        <td>
                            Power, W
                        </td>
                        <td>
                            earfcnDl&nbsp;
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.4 %}
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                        <td>
                            {{ listIndex.6 }}
                        </td>
                        <td>
                            {{ listIndex.7 }}
                        </td>
                        <td>
                            {{ listIndex.8 }}
                        </td>
                        <td>
                            {{ listIndex.9 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>HO 4-2</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Subnetwork
                        </td>
                        <td>
                            eNodeB
                        </td>
                        <td>
                            EUtranCell
                        </td>
                        <td>
                            TAC
                        </td>
                        <td>
                            GSMCell
                        </td>
                        <td>
                            CI
                        </td>
                        <td>
                            MCC
                        </td>
                        <td>
                            MNC
                        </td>
                        <td>
                            LAC
                        </td>
                        <td>
                            BCC
                        </td>
                        <td>
                            NCC
                        </td>
                        <td>
                            BCCH
                        </td>
                    </tr>
                    {% for listIndex in listEricsson4g.5 %} 
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.6 }}
                        </td>
                        <td>
                            {{ listIndex.7 }}
                        </td>
                        <td>
                            {{ listIndex.8 }}
                        </td>
                        <td>
                            {{ listIndex.9 }}
                        </td>
                        <td>
                            {{ listIndex.10 }}
                        </td>
                        <td>
                            {{ listIndex.11 }}
                        </td>
                        <td>
                            {{ listIndex.12 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% for j_key, j_value in jsonContents.items %} 
<div class="row g-0 text-center" id="{{ j_key }}">
    <div class="col-6 col-md-3">
        <h3>{{ j_key }}</h3>
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">
            {% if item.idcard == 'MiniCard' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">   
            {% if item.idcard == 'Card' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}