{% extends 'base.html' %}
{% block content %}
<!-- Первый HTML-сегмент -->
<div class="row g-0 text-center" id="bb2g">
    <div class="col-6 col-md-3">
        <div class="card">
        <div class="card-body">
            <h5>bb2g</h5>
        </div>
        </div>        
        <div class="card">
        <div class="card-body">
            <h5>Введите Имя БС:</h5>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="Reg" placeholder="Введите регион"><br>
                <input type="text" name="NS" placeholder="Введите номерБС"><br>
                <input type="text" name="BB" placeholder="Введите BB"><br>
                <button type="submit">Отправить</button>
            </form>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <table>
                <tbody>
                    {% for listIndex in listEricsson2g.0 %} 
                    <tr>
                        <td>
                            Имя БС
                        </td>
                        <td>
                            {{ listIndex.26 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>2G part</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            BTS Name
                        </td>
                        <td>
                            Abis Plane IP
                        </td>
                        <td>
                            Abis Default Gateway
                        </td>
                        <td>
                            Abis Vlan
                        </td>
                        <td>
                            BSC
                        </td>
                    </tr>
                    {% for listIndex in listEricsson2g.2 %} 
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Used Sectors
                        </td>
                        <td>
                            band
                        </td>
                        <td>
                            CELL
                        </td>
                        <td>
                            TRX
                        </td>
                        <td>
                            BCCH
                        </td>
                        <td>
                            Arfcn MIN
                        </td>
                        <td>
                            Arfcn MAX
                        </td>
                        <td>
                            Power
                        </td>
                    </tr>
                    {% for listIndex in listEricsson2g.4 %} 
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                        <td>
                            {{ listIndex.6 }}
                        </td>
                        <td>
                            {{ listIndex.7 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="card">
        <div class="card-body">
            <h5>Hardware part</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Reg
                        </td>
                        <td>
                            BS name
                        </td>
                        <td>
                            Site Name
                        </td>
                        <td>
                            OSS
                        </td>
                        <td>
                            MCC
                        </td>
                        <td>
                            MNC
                        </td>
                        <td>
                            BB Unit
                        </td>
                        <td>
                            BB Port
                        </td>
                        <td>
                            OAM eNodeB
                        </td>
                        <td>
                            OAM Default Router
                        </td>
                        <td>
                            OAM VLAN
                        </td>
                        <td>
                            NTP Frequency Sync Server 1
                        </td>
                        <td>
                            NTP Frequency Sync Server 2
                        </td>
                        <td>
                            OSS Site Name
                        </td>
                    </tr>
                    {% for listIndex in listEricsson2g.1 %} 
                    <tr>
                        <td rowspan="15">
                            {{ listIndex.0 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.1 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.2 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.3 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.4 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.5 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.6 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.7 }}
                        </td>
                        <td rowspan="7">
                            {{ listIndex.8 }}
                        </td>
                        <td rowspan="7">
                            {{ listIndex.9 }}
                        </td>
                        <td rowspan="7">
                            {{ listIndex.10 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.11 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.12 }}
                        </td>
                        <td rowspan="15">
                            {{ listIndex.13 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Sector
                        </td>
                        <td>
                            RRU Connection Port
                        </td>
                        <td>
                            RRUS
                        </td>
                        <td>
                            TX/RX
                        </td>
                        <td>
                            RfPort<br>
                            (used antenna output)
                        </td>
                        <td>
                            RfSharing
                        </td>
                        <td>
                            Antenna type
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S1
                        </td>
                        <td>
                            BB Port A
                        </td>
                        <td>
                            Radio44xx
                        </td>
                        <td>
                            4/4
                        </td>
                        <td>
                            ABCD
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S2
                        </td>
                        <td>
                            BB Port B
                        </td>
                        <td>
                            Radio44xx
                        </td>
                        <td>
                            4/4
                        </td>
                        <td>
                            ABCD
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S3
                        </td>
                        <td>
                            BB Port C
                        </td>
                        <td>
                            Radio44xx
                        </td>
                        <td>
                            4/4
                        </td>
                        <td>
                            ABCD
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S4
                        </td>
                        <td>
                            BB Port D
                        </td>
                        <td>
                            RRUS01
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S5
                        </td>
                        <td>
                            BB Port E
                        </td>
                        <td>
                            RRUS01
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S6
                        </td>
                        <td>
                            BB Port F
                        </td>
                        <td>
                            RRUS01
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S7
                        </td>
                        <td>
                            BB port G
                        </td>
                        <td>
                            Radio22xx
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S8
                        </td>
                        <td>
                            BB port H
                        </td>
                        <td>
                            Radio22xx
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                    <tr>
                        <td>
                            S9
                        </td>
                        <td>
                            BB port J
                        </td>
                        <td>
                            Radio22xx
                        </td>
                        <td>
                            1/2
                        </td>
                        <td>
                            AB
                        </td>
                        <td>
                            false
                        </td>
                        <td>
                            Single
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>2G Data</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Cell
                        </td>
                        <td>
                            bsc
                        </td>
                        <td>
                            sys
                        </td>
                        <td>
                            otg
                        </td>
                        <td>
                            stg
                        </td>
                        <td>
                            G12Trxc
                        </td>
                        <td>
                            dchNo 0
                        </td>
                        <td>
                            dchNo 1
                        </td>
                        <td>
                            bcchNo
                        </td>
                        <td>
                            ncc
                        </td>
                        <td>
                            bcc
                        </td>
                        <td>
                            lac
                        </td>
                        <td>
                            ci
                        </td>
                        <td>
                            G31Trx
                        </td>
                        <td>
                            sigDel
                        </td>
                        <td>
                            state
                        </td>
                    </tr>
                    {% for listIndex in listEricsson2g.3 %} 
                    <tr>
                        <td>
                            {{ listIndex.0 }}
                        </td>
                        <td>
                            {{ listIndex.1 }}
                        </td>
                        <td>
                            {{ listIndex.2 }}
                        </td>
                        <td>
                            {{ listIndex.3 }}
                        </td>
                        <td>
                            {{ listIndex.4 }}
                        </td>
                        <td>
                            {{ listIndex.5 }}
                        </td>
                        <td>
                            {{ listIndex.6 }}
                        </td>
                        <td>
                            {{ listIndex.7 }}
                        </td>
                        <td>
                            {{ listIndex.8 }}
                        </td>
                        <td>
                            {{ listIndex.9 }}
                        </td>
                        <td>
                            {{ listIndex.10 }}
                        </td>
                        <td>
                            {{ listIndex.11 }}
                        </td>
                        <td>
                            {{ listIndex.12 }}
                        </td>
                        <td>
                            {{ listIndex.13 }}
                        </td>
                        <td>
                            {{ listIndex.14 }}
                        </td>
                        <td>
                            {{ listIndex.15 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5>Mixed On</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            confb+
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Equipment=1,FieldReplaceableUnit=BB-1,RiPort=A Equipment=1,FieldReplaceableUnit=BB-1,RiPort=B Equipment=1,FieldReplaceableUnit=BB-1,RiPort=C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,FieldReplaceableUnit=RRU-1-1 isSharedWithExternalMe true
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,FieldReplaceableUnit=RRU-2-1 isSharedWithExternalMe true
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,FieldReplaceableUnit=RRU-3-1 isSharedWithExternalMe true
                        </td>
                    </tr>
                    <tr>
                        <td>
                            deb Transport=1,Synchronization=1,RadioEquipmentClock=1,NodeGroupSyncMember=1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,RiLink=1 riPortRef2 FieldReplaceableUnit=RRU-1-1,RiPort=DATA_2&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,RiLink=2 riPortRef2 FieldReplaceableUnit=RRU-2-1,RiPort=DATA_2&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set Equipment=1,RiLink=3 riPortRef2 FieldReplaceableUnit=RRU-3-1,RiPort=DATA_2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set CXC4012017 FeatureState 1&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            set CXC4012026 FeatureState 1&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% for j_key, j_value in jsonContents.items %} 
<div class="row g-0 text-center" id="{{ j_key }}">
    <div class="col-6 col-md-3">
        <h3>{{ j_key }}</h3>
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">
            {% if item.idcard == 'MiniCard' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-sm-6 col-md-9">
        <div class="card">
        {% for item in j_value %}
        <div class="card-body">   
            {% if item.idcard == 'Card' %}
            <h5>{{ item.title|safe }}</h5>
            <p>{{ item.content|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}