body{
	background-color: rgb(122 129 122);
	color: rgb(122 129 122);
	font-family: cursive;
	font-size: 15px;
	margin: 0;
}
.container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.container-left{
	background: #141212;
	/*min-height: 430px;*/
	/*display: flex;*/
	flex: 0 0 250px;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.container-right{
	/*margin-left: 30px;*/
	display: flex;
	flex:auto;
	flex-direction: column; 
	width: 50%;
}
.card__content{
	background: #141212;
	/*min-height: 200px;*/
	flex:auto;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
    margin-left: 20px;
	padding: 20px;
}
.card__content:last-child{
	margin-bottom: 0;
}
@media (max-width: 750px){
	.container-left {
		/*min-height: 0px;*/
		flex: 0 0 100%;
		margin-bottom: 20px;
	}
	.container-right {
		margin-left: 0px;
	}
	.card__content{
		margin-left: 0px;
	}
}
